---
layout: default
title: GitLab Connect San Francisco
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab Connect San Francisco
        %h2.page-subtitle Discussion led by GitLab + General Catalyst on DevSecOps

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 Thursday, February 28, 6:00 pm - 8:30 pm
            %h4 General Catalyst - 2 S Park St, San Francisco, CA
            %p GitLab and General Catalyst will be moderating a peer-to-peer discussion on application security and best practices for DevSecOps in the new cloud native world.

            %p Whether you're a GitLab expert, novice, or wondering, “What in the heck is GitLab?”, join us in San Francisco to learn how others are solving their enterprise challenges of integrating application security into DevOps given the shift towards containers and cloud native.

            %p We will have local participants, GitLab experts, free food, and libations. Join us for an evening of networking and learning with like minds who are delivering apps, tools, services and best practices using continuous integration.

            %h5 Opening remarks by Steve Herrod of General Catalyst and Jim Zemlin of the Linux Foundation followed by an audience interactive panel discussion on DevSecOps by our panelists:

            %ul
              %li Priyanka Sharma- Director Cloud Native Alliances, GitLab
              %li Cindy Blake- Global Senior Security Evangelist, GitLab
              %li Patrick Townsend- Chief Executive Officer, Townsend Security
              %li Kevin Lewis- Solutions Architect, Twistlock

            %p Space is limited. Please register to hold your spot.

            %p Invite a friend! Bring your Application Security colleague along for a GitLab demo and we’ll give both of you the gift of caffeine (in the form of a Philz Coffee gift card).
            %br

        .col-md-4.col-md-offset-1
          %h2 Register for the event:
          .centered-form
            %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1691
            :javascript
              MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1691, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional event details.
