---
layout: default
title: Universal remote Podcast
description: "Take Your Work Anywhere"
suppress_header: true
extra_css:
  - meetups.css
  - events.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
  - events.js
---
.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Universal remote Podcast
    %p Take Your Work Anywhere
    = link_to("Listen Here", "/community/virtual-meetups#upcoming-events", class: "btn cta-btn purple-reverse")

.wrapper.wrapper--large-fonts
  #content.devops-content.u-margin-top-lg
    .wrapper.container.js-in-page-nav-group{role: "main"}
      .row.u-margin-top-xl.js-in-page-nav-section#attend-a-virtual-meetup
        .col-md-10.col-md-offset-1
          %h2.u-text-brand About GitLab and Remote Work

          %p GitLab is the largest all-remote company in the world. We have 1,200 team members across 65 countries, and have been remote from our inception. We have a dedicated team focused on enabling remote work, recently published a Remote Playbook, conducted and published a Remote Work Report, and are consulting with organizations across industries and geographies to help transition their teams to virtual workspaces.

          %p We've learned how to do this as we go, and we are here to share our lessons with other teams and individuals.

          %p
            Below are some topics we will cover this season.

          %ul
            %li How to balance work and home life as a remote worker
            %li How to rapidly transition your teams to a remote environment without losing momentum in your business
            %li How to set up a remote work emergency plan
            %li How to adjust to work-from-home" guide for employees new to working remotely
            %li How to support your team as a remote manager
            %li Why communication is important for successful remote working
            %li Five first steps for newly-remote leaders
            %li Five first steps for newly-remote employees
            %li The foundations of remote work

      .row.u-margin-top-xl.js-in-page-nav-section#organize-a-virtual-meetup
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Our Sister Morning Show

          %p
            We host a weekly webcast on remote work
            = link_to("Universal Remote Weekly Webcast", "/community/meetups/checklist#planning-a-virtual-meetup")
            every Wednesday at 11am PT.

      .row.u-margin-top-xl.js-in-page-nav-section#resources
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Resources on Remote Work

          %p Remote Work Resources

          .resource-block.resource-block--resources.u-margin-top-md

            %ul.resource-list.list-unstyled
              %li.resource-list-item
                %h4.resource-title
                  = link_to("mission.", "https://about.gitlab.com/company/culture/all-remote/")
                %span.resource-author Free ebook the "Remote Playbook"

              %li.resource-list-item
                %h4.resource-title
                  = link_to("meetup issue template.", "https://about.gitlab.com/company/culture/all-remote/")
                %span.resource-author Remote Resources

.center-horizontal
  %nav
    %ul.pagination
      %li
        %a{href:"#"}
          <<
      %li
        %a{href:"#"}
          1
      %li
        %a{href:"#"}
          >>
