### Plan

#### Plan's "Jobs To Be Done"
These Jobs to Be Done resulted from tactical research including customer interviews and analyst reports. We believe this is a great first iteration and have [work lined up](https://gitlab.com/gitlab-org/ux-research/-/issues/815) to interview and fully validate these jobs.

> The biggest mistake we see is thinking of a JTBD as an activity or task... A JTBD is something consumers participate in on their march towards progress. A JTBD is the process a consumer goes through whenever she aims to transform her existing life-situation into a preferred one, but cannot because there are constraints that stop her.

We've recently updated our approach for [leveling Category Maturity](https://about.gitlab.com/handbook/engineering/ux/category-maturity-scorecards/). Part of this model relies on defining a set of "Jobs To Be Done" (JTBD) that are then scored by the customers themselves. One of the huge benefits of adopting this approach is that we can now have a ubiquitous shared understanding of what the Plan customers are trying to make progress towards so that we can collectively deliver the best solutions possible. It also opens the door to streamline our [Product Development Flow](https://about.gitlab.com/handbook/product-development-flow/) and connect it to our [Use case driven Go To Market](https://about.gitlab.com/handbook/marketing/product-marketing/usecase-gtm/) strategy. 

Here is a list of the Plan stage JTBD based on our current understanding of our customers' needs and the larger market as a whole:

- **Map business and portfolio plans to market opportunities**
  * When preparing for planning or strategy review, I need to understand how previous work was performed and what was delivered, so I can make informed decisions on where we need to focus in the future.
  * When crafting my strategic plan, I need to validate to business owners that I am providing a return, so I can increase trust with stakeholders and promote confidence in my plans. 
  * When working through a list of ideas, I need to be able to validate that an opportunity is valuable and worth funding a solution, so I can deliver value to my customers and drive success for the org. 
  * When working through a list of validated opportunities, I need to be able to understand effort and map ROI for each, so I can prioritize the right sequence of work. 
- **Plan and collaborate on value delivery**
  * When creating or revising an initiative's operational plan, I need to allocate resources to it so it is clear what the projected costs will be and what capacity is available to complete work on an ongoing basis.
  * When conducting Product Increment or Sprint planning, my team needs to convert prioritized initiatives and their business objectives into estimate-able work items to be delivered, so that we can sequence work according to available capacity and relative ROI.
  * When conducting Product Increment or Sprint planning, my team needs to commit to delivering a realistic amount of work within a given time period, so that stakeholders can understand what will be delivered and when.
  * When my team completes a unit of value, we need to get feedback as quickly as poossible on whether or not what we delivered was valuable to the end user, so that we can make incremental progress towards our business objectives.
- **Report on output**
  * When monitoring a team's status, I need to be able to easily review and digest the current progress so that I can confidentally explain progress to stakeholders.
  * When reporting status, I need to be able to ensure my status is accurate, current, and quantifiable so I can maintain a high level of trust with stakeholders. 
- **Improve output processes**
  * When reviewing a plan, I need to ensure that high risk items can be identified and continually monitored so I can validate and modify mitigation plans. 
  * When implementing to a plan, I need to monitor progress (velocity) so I can demonstrate that the team is efficiently capturing value for our stakeholders. 
  * When reviewing a prior cycle, I can easily reflect on and improve my team's effectiveness 
- **Report on outcomes**
  * When reviewing progress against our objectives, I can easily measure the success of our past work which informs future plans

#### Links & Resources 

- See a high-level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Aplan)
- Stage usage metrics can be found on the [Plan Dashboard](https://app.periscopedata.com/app/gitlab/493126/Plan-Stage).
Corresponding definitions for what we are tracking can be found on the Plan team [handbook page](/handbook/product/categories/plan).

The Plan stage is made up of several categories:

<%= partial("direction/categories-content", :locals => { :stageKey => "plan" }) %>
